/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.container {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin: 20px;
}

.banner {
    height: 100%;
    color: white;
    padding: 10px;
    background-color: rgb(16, 134, 65);
}

.danger {
    background-color: rgb(134, 16, 16);
}