<div class="container">
    <h3>Player Form</h3>

    <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="success-message" *ngIf="successMessage">{{successMessage}}</div>

    <form (ngSubmit)="onSubmit()" [formGroup]="playerForm">
        <div>
            <input placeholder="Player name" id="playerName" name="playerName" formControlName="playerName" />
        </div>

        <div>
            <input placeholder="the year joined the team" id="joinedTeam" name="joinedTeam" formControlName="joinedTeam" />
        </div>

        <div>
            <input placeholder="the year joined NBA" id="joinedNBA" name="joinedNBA" formControlName="joinedNBA" />
        </div>

        <div>
            <button type="submit">Save</button>
        </div>
    </form>
    <button (click)="goBack()">Go back</button>
</div>