<div>
    <h1 class="title">{{team.teamName}}</h1>
    <h3 class="subtitle">Established: {{team.established}}</h3>
    <h4>Championships Won: <span *ngFor="let trophy of trophies"> 🏆 </span></h4>
    <table class="players">
        <tr>
            <th>Player</th>
            <th>Joined Team</th>
            <th>Joined NBA</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let player of players">
            <td>{{player.playerName}}</td>
            <td>{{player.joinedTeam}}</td>
            <td>{{player.joinedNBA}}</td>
            <td>
                <button routerLink="/playerForm/{{team._id}}/{{player._id}}">Edit</button>
                <button (click)="onDelete(player._id)">Delete</button>
            </td>
        </tr>
    </table>
    <button routerLink="/teamForm/{{team._id}}">Edit</button>
    <button routerLink="/playerForm/{{team._id}}">Add Player</button>
</div>